/* stylesheet for personal blog website created by Kritima Kukreja */

/* styles for the body of the pages */

body {
    font-family: Arial;
    background: #f1f1f1;
  }

  /* styles to have fluid images */

  img {
    max-width: 100%;
  }

  /* styles for the id = container */

  #container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  /* styles for the logo in the header div */

  header {
    text-align: center;
  }


  /* styles for the nav bar containing the links */
nav {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}

/* styles specifies the padding and margins of the unordered list in nav */
nav ul {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* styles for the li in nav */
nav li {
  background-color:#ecc1ae;
  border-radius: 2em;
  margin: 0.3em;
  padding: 0.4em;
  list-style-type: none;
}

/* styles for the anchor tags that are in nav li */
nav li a {
  color: #ffffff;
  text-decoration: none;
}

/* styles for the mobile class */
.mobile {
  display: inline;
}

/* styles for the desktop class */
.desktop {
  display: none;
}

/* styles for the tablet class */
.tablet {
  display: none;
}
  

  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn { 
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

   /* styles for the aside element */
   aside {
    background-color: #ffffff;
    border-radius: 0 5em 5em 5em;
    padding: 1.5em;
    margin: 1em;
    font-style: italic;
  }

  /* styles for anchor tags inside main element 
main a {
  background-color: #9d9d93;
  border-radius: 1em;
  color: #ffffff;
  font-weight: bold;
  margin-top: 20px;
  padding: 0.5em;
  text-decoration: none;
} */

/* Footer */
footer {
  font-size: 0.7em;
  text-align: center;
  background-color: #ecc1ae;
  margin-top: 2em;
  color: #ffffff;
  margin-top: -0.2em;
  padding: 2em;
}

/* styles for anchor tag inside footer */
footer a {
  color: #ffffff;
  text-decoration: none;
}

/* Media query for TABLET viewport target - minimum width: 480px */

@media only screen and (min-width: 688px) {

  /* styles specifies horizontal dispay for navigation links */

  nav li {
    display: block;
    float: left;
    width: 18%;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
    border-radius: 0;
    background-color:#ecc1ae;
  }

  /* styles for mobile class */
  .mobile {
    display: none;
  }

  /* styles for desktop */
  .desktop {
    display: inline;
  }

  /* styles for the tablet class */
  .tablet {
    display: block;
    margin-bottom: -1em;
  }

}

/* Media Query for desktop view port */
@media only screen and (min-width: 999px) {

    /* styles for header */
    header {
      text-align: left;
    }

    /* styles for nav */
  nav {
    float: right;
    margin-top: -7em;
    margin-bottom: 0;
    width: 65%;
  }

  /* styles for ul in nav for links */
  nav ul {
    margin: 0;
    padding-left: 0.5%;
    padding-right: 0.5%;
  }

    /* styles for the list items in nav */
    nav li {
      background-color:transparent;
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      width: 20%;
    }

   /* styles for anchor tag inside nav li */
  nav li a {
    display: inline-block;
    padding: 0.7em;
  }

  /* styles for pseudo-classes */
  /* when the link is not visited */
  nav li a:link {
    color: #ffffff;
  }

  /* when the link is visited */
  nav li a:visited {
    color: #ccccff;
  }

  /* pseudo class when hoverin over link */
  nav li a:hover {
    font-style: italic;
    color: #9d9d93;
  }

  /* when the links are active */
  nav li a:active {
    color: #6600cc;
  }

  /* styles for footer */
  footer {
    background-color:#ecc1ae;
    margin-top: -0.2em;
    padding: 2em;
  }

}



@media screen and (min-width: 688px) {

  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  

  body, html {
    height: 100%;
}


